.game_KybikChaotic {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.kybik-containerChaotic {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.dice_kybik-containerChaotic {
  position: absolute;
  transition:
    top 0.7s,
    left 0.7s;
}
