.kybik-menuUnit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
/* Переключатель (перенести в утилиты) */
.switch__MUP {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  margin-left: 12px;
}

.switch__MUP input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider__MUP {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gameMenuBtnHover);
  transition: 0.4s;
  border-radius: 28px;
}

.slider__MUP::before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--gameMenuBtnSelectedTxt);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider__MUP {
  background-color: var(--gameMenuBtnSelected);
}

input:checked + .slider__MUP::before {
  transform: translateX(22px);
}
