.game_Kybik {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.kybik-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.dice_kybik {
  position: relative;
  width: 60px;
  height: 60px;
  transform-style: preserve-3d;
  transition: transform 0.7s;
  transform: rotateX(10deg) rotateY(-10deg);
}

.side_kybik {
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(135deg, #f4f6ee, #ffffff);
  border: 1px solid var(--txtLeftBorder);
  border-radius: 5px;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
}

/* .side_kybik::before {  **Анимация сторон кубика(нагружает устройство)**
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 120px;
  background: rgba(255, 255, 255);
  transform: rotate(-20deg);
  animation: shine 3s infinite;
  animation-timing-function: cubic-bezier(0.17, 0.79, 0.96, 0.25);
}

@keyframes shine {
  0% {
    top: -100px;
    left: -280px;
  }
  100% {
    top: 100%;
    left: 100%;
  }
} */

/* Грани кубика */
.side_kybik:nth-child(1) {
  transform: translateZ(30px);
}
.side_kybik:nth-child(2) {
  transform: rotateY(-180deg) translateZ(30px);
}
.side_kybik:nth-child(3) {
  transform: rotateY(-90deg) translateZ(30px);
}
.side_kybik:nth-child(4) {
  transform: rotateX(90deg) translateZ(30px);
}
.side_kybik:nth-child(5) {
  transform: rotateX(-90deg) translateZ(30px);
}
.side_kybik:nth-child(6) {
  transform: rotateY(90deg) translateZ(30px);
}

/* Анимация */
.show-1_kybik {
  transform: rotateX(730deg) rotateY(-10deg) rotateZ(-720deg);
}
.show-2_kybik {
  transform: rotateX(-890deg) rotateY(10deg) rotateZ(1260deg);
}
.show-3_kybik {
  transform: rotateY(790deg) rotateY(10deg) rotateZ(730deg);
}
.show-4_kybik {
  transform: rotateX(-800deg) rotateY(0) rotateZ(-1090deg);
}
.show-5_kybik {
  transform: rotateX(460deg) rotateY(0) rotateZ(-710deg);
}
.show-6_kybik {
  transform: rotateY(-470deg) rotateY(10deg) rotateZ(-1450deg);
}

/* Точки кубика */
.dot_kybik {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  box-shadow: inset 3px 3px #e00428;
}

/* Позици точек */
.one-1_kybik,
.three-2_kybik,
.five-5_kybik {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.two-1_kybik,
.three-1_kybik,
.four-1_kybik,
.five-1_kybik,
.six-1_kybik {
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.two-2_kybik,
.three-3_kybik,
.four-4_kybik,
.five-4_kybik,
.six-6_kybik {
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.four-2_kybik,
.five-2_kybik,
.six-3_kybik {
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.four-3_kybik,
.five-3_kybik,
.six-4_kybik {
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.six-2_kybik {
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.six-5_kybik {
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.field_kybik {
  background-color: grey;
  width: 100%;
}
