.roll-button_kybik {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--gameMenuBtnSelected);
  color: var(--gameMenuBtnSelectedTxt);
  position: relative;
  cursor: pointer;
}

.btn-content_kybik {
  position: relative;
  z-index: 1;
}

.ovrly_kybik {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.ovrly2_kybik {
  display: block;
  height: 100%;
  width: 0%;
  background-color: var(--gameMenuBtnSelected);
  animation: none;
  position: relative;
  border-radius: 10px;
}

.roll-button_kybik.animate_kybik {
  background-color: var(--h1AndHover);
}

.roll-button_kybik.animate_kybik .ovrly2_kybik {
  animation: loadingBar 1s linear forwards;
}

@keyframes loadingBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}