.players-status-dvoiniki {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-bottom: 12px;
  flex-wrap: wrap;
}

.player-name-dvoiniki {
  position: relative;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s ease;
  overflow: hidden;
  font-size: 12px;
}

.player-name-dvoiniki.pn-dvoiniki--inactive {
  background-color: gray;
}

.player-name-dvoiniki.pn-dvoiniki--active {
  background-color: green;
}

.player-name-dvoiniki.pn-dvoiniki--active::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.8);
  animation: moveStar 3s linear infinite;
}
.player-name-dvoiniki.pn-dvoiniki--active::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.8);
  animation: moveStar 2s linear infinite;
}

@keyframes moveStar {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 100%;
    transform: translate(-100%, 0);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  75% {
    top: 100%;
    left: 0;
    transform: translate(0, -100%);
  }
  100% {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
