@keyframes background-animation__fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* background: radial-gradient(circle, #e0f6ff 0%, #96d6f0 70%, #87ceeb 100%); */
  background: radial-gradient(circle, #14164b 0%, #1a1b3d 70%, #0d1b2a 100%);
  top: 0;
  left: 0;
  border-radius: 20px;
  overflow: hidden;
  user-select: none;
  animation: background-animation__fadeIn 0.5s ease-out;
}

.background-animation__cloud {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 70px;
  animation-name: background-animation__float, background-animation__fadeFloat;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.background-animation__cloud--foreground {
  background-image: url('bgCloud.png');
}

.background-animation__cloud--background {
  background-image: url('bgCloud.png');
}

@keyframes background-animation__float {
  from {
    transform: translateX(100%) translateZ(0);
  }
  to {
    transform: translateX(-15%) translateZ(0);
  }
}

@keyframes background-animation__fadeFloat {
  0%,
  100% {
    opacity: 0;
  }
  5%,
  90% {
    opacity: 0.8;
  }
}

.background-animation__content {
  position: relative;
  pointer-events: none;
}
