.game-overlay--dvoiniki {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  z-index: 10;
  border-radius: 10px;
}

.winners-announcement--dvoiniki {
  background: var(--AllFairyTalesBackground);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 12px;
  border-radius: 5px;
  border: 2px solid var(--txtLeftBorder);
  text-align: center;
}

.winners-announcement--dvoiniki span:first-child {
  color: var(--gameMenuBtnSelected);
}

.winners-announcement--dvoiniki span:nth-child(2) {
  color: var(--AllFairyTalesTxt);
  font-size: 1.5rem;
  font-weight: bold;
}

.restart-button-dvoiniki {
  padding: 12px 24px;
  font-size: 18px;
  background-color: var(--txtLeftBorder);
  color: var(--navBtnTxt);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.restart-button-dvoiniki:hover {
  transform: scale(1.05);
  background-color: var(--h1AndHover);
}
.card-grid-wrapper--dvoiniki {
  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
