.modal-dvoiniki {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card-grid--dvoiniki {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
  justify-content: center;
}

.card--dvoiniki {
  width: 60px;
  height: 60px;
  background-color: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  perspective: 1000px;
}

.card-inner--dvoiniki {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card--dvoiniki.flipped--dvoiniki .card-inner--dvoiniki {
  transform: rotateY(180deg);
}

.card-image--dvoiniki {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.card-front--dvoiniki,
.card-back--dvoiniki {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-front--dvoiniki {
  background-color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

/* Анимация при совпадении */
.card--dvoiniki.matched-animating--dvoiniki {
  animation: match-pulse 0.6s ease;
}

@keyframes match-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.5;
  }
}

.card--dvoiniki.matched--dvoiniki {
  opacity: 0.2;
  pointer-events: none;
}

/* Выбор сложности */
.dvoiniki-details {
  justify-self: center;
  text-align: center;
  margin: 20px 0;
  cursor: pointer;
  background-color: var(--h1AndHoverOPACITY);
  padding: 5px;
  border-radius: 6px;
}

.dvoiniki-summary {
  background-color: var(--h1AndHover);
  color: var(--navBtnTxt);
  padding: 5px 10px;
  border-radius: 6px;
}

.difficulty-selection-dvoiniki {
  margin: 5px 0;
  text-align: center;
  padding: 10px 10px;
  border-radius: 1rem;
  background-color: var(--txtBackground);
}

.difficulty-buttons-dvoiniki {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.difficulty-button-dvoiniki {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 8px;
  background-color: var(--gameMenuBtn);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.difficulty-button-dvoiniki:hover {
  background-color: var(--gameMenuBtnHover);
}

.difficulty-button-dvoiniki.selected {
  background-color: var(--gameMenuBtnSelected);
  color: var(--gameMenuBtnSelectedTxt);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}
