.turn-overlay--dvoiniki {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 10px;
}

.t-o-content--dvoiniki {
  text-align: center;
  display: flex;
  gap: 14px;
  flex-direction: column;
  align-items: center;
}

.t-o-content--dvoiniki p {
  font-size: 20px;
  background-color: var(--mainBackground);
  color: var(--h1AndHover);
  font-weight: bold;
  padding: 14px 14px;
  border-radius: 12px;
  margin: 0;
}

.t-o-content--dvoiniki__wrap {
  padding: 10px 20px;
  background-color: var(--mainBackground);
  border-radius: 10px 30px;
}

.t-o-content--dvoiniki__wrap div {
    font-size: 16px;
}

.t-o-content--dvoiniki button {
  padding: 8px 16px;
  cursor: pointer;
  background-color: var(--txtLeftBorder);
  color: var(--navBtnTxt);
  border: 1px solid var(--navBtnTxt);
  border-radius: 10px;
}

/* Для переключателя автозакрытия */
.tsLabel--dvoiniki-wrap {
  display: flex;
  align-items: center;
  background-color: var(--mainBackground);
  padding: 4px 8px;
  border-radius: 10px;
}

.close-label--dvoiniki {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 18px;
  margin-left: 8px;
}

.close-label--dvoiniki input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider__close-label--dvoiniki {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gameMenuBtnHover);
  transition: 0.4s;
  border-radius: 19px;
}

.slider__close-label--dvoiniki::before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: var(--gameMenuBtnSelectedTxt);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider__close-label--dvoiniki {
  background-color: var(--gameMenuBtnSelected);
}

input:checked + .slider__close-label--dvoiniki::before {
  transform: translateX(16px);
}
