.game-page-animation__balloons-cont {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  pointer-events: none; /* клики проходят сквозь контейнер */
}

.game-page-animation__balloon {
  position: absolute;
  display: block;
  width: 80px;
  height: 100px;
  border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
  opacity: 0.8;
  bottom: -120px;
  pointer-events: auto; /* снова включаем события наведения */
}

.game-page-animation__balloon-animation {
  animation-name: game-page-animation__flyingBalloon;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* ПРОПАДАЕТ при наведении */
.game-page-animation__balloon:hover {
  opacity: 0.5;
}

.game-page-animation__balloon-knot {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 45%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid;
  pointer-events: none; /* не мешает */
}

@keyframes game-page-animation__flyingBalloon {
  from {
    bottom: -20%;
    transform: rotate(0deg);
  }
  to {
    bottom: 110%;
    transform: rotate(360deg);
  }
}
