.pages-bookmarks__remove-btn {
  margin-left: 10px;
  padding: 4px 8px;
  border: none;
  background: var(--h1AndHover);
  color: var(--navBtnTxt);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
