.main-header__book-with-bookmark-png {
  width: var(--icon-size);
  height: var(--icon-size);
  vertical-align: middle;
  padding: var(--btn-icon-padding);
  background: var(--mainBackground);
  border-radius: var(--btn-icon-radius);
}
