.pages-bookmarks__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pages-bookmarks__li {
  margin: 8px 0;
  padding: 5px 7px;
  border-radius: 8px;
  border: 1px solid var(--txtLeftBorder);
  background: var(--mainBackground);
}

.pages-bookmarks__a {
  text-decoration: none;
  color: var(--navBtnTxt);
  background: var(--txtLeftBorder);
  padding: 5px 7px;
  border-radius: 8px;
  word-break: break-all;
}
