.main-header__startpage-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  vertical-align: middle;
  margin-right: 3px;

  padding: 2px;
  background: var(--mainBackground);
  border-radius: 3px;
}
