.startpage-modal__content {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.startpage-modal__h2 {
  padding: 7px 10px;
  font-size: 1.2rem;
}

.startpage-modal__close-button {
  margin-top: 40px;
  background-color: var(--h1AndHover);
  display: flex;
  align-items: center;
  justify-content: center;
}

.startpage-modal__close-button:hover {
  background-color: var(--h1AndHover);
}

.startpage-modal__close-icon {
  display: inline-block;
  line-height: 1;
  font-size: 18px;
}
