.startpage-modal__toggle-btn {
  cursor: pointer;
  word-break: break-word; /* перенос длинных слов */
  overflow-wrap: anywhere;
}

.sp-toggle-btn__remove {
  background-color: #ff6f61;
}

.sp-toggle-btn__remove:hover {
  background-color: #ff6f61;
}

.sp-toggle-btn__add {
  background-color: var(--gameMenuBtnSelected);
}

.sp-toggle-btn__add:hover {
  background-color: var(--gameMenuBtnSelected);
}
