.game-page__title-container {
  padding: 0;
}

.game-page__page-title {
  margin-bottom: 0;
}

.game-page__controls-container {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.game-page__toggle-switch {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.game-page__baloon-setting-btn {
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--gameMenuBtnHover);
}

.game-page__baloon-setting-btn:active {
  background-color: var(--gameMenuBtnSelected);
}
