.game-modal {
  position: fixed;
  inset: 0;
  background-color: var(--mainBackground);
  z-index: 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.game-modal-header {
  background-color: var(--txtLeftBorder);
  padding: 6px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.score-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.score-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 2px;
  border-radius: 3px;
  gap: 2px;
}

.score-img {
  width: 1.4rem;
  height: 1.4rem;
  background-color: var(--txtLeftBorder);
}

.game-modal-close {
  border: none;
  border-radius: 8px;
  padding: 5px 8px;
  background-color: var(--h1AndHover);
  color: var(--navBtnTxt);
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.game-modal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
