.xo-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.xo-turn-indicator {
  background: var(--AllFairyTalesBackground);
  color: var(--navBtnTxt);
  padding: 10px 16px;
  border-radius: 6px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.xo-grid {
  display: grid;
  width: max-content;
  height: max-content;
  gap: 0;
}

.xo-cell {
  /* width: 80px; */
  /* height: 80px; */
  background-color: var(--txtBackground);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;

  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.xo-cell.top-row {
  border-top: none;
}

.xo-cell.left-col {
  border-left: none;
}

.xo-restart-btn {
  visibility: hidden;
  /* opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; */
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: var(--txtLeftBorder);
  color: var(--navBtnTxt);
  transition:
    background 0.3s,
    transform 0.2s;
}

.xo-restart-btn.visible {
  visibility: visible;
  /* opacity: 1;
  pointer-events: auto; */
}

.xo-restart-btn:hover {
  background-color: var(--h1AndHover);
}
