.balloons-settings-panel {
  animation: balloons-settings-panel__slideDown 0.3s ease-out forwards;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0 10px 10px 10px;
  gap: 15px;
}

@keyframes balloons-settings-panel__slideDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.balloons-settings-panel__title-line {
  width: 100%;
  margin: 0;
}

.balloons-settings-panel__title {
  margin: 0;
  font-size: 25px;
}

.balloons-settings-panel__elem {
  width: 100%;
  word-wrap: break-word;
  font-size: 14px;
}

.balloons-settings-panel__close-btn {
  font-size: 20px;
  padding: 5px 10px;
}
