:root {
  --headerBackground: #fff0e5d5;
  --navBtnTxt: white;

  --h1AndHover: #ff6f61;
  --h1AndHoverOPACITY: #ff6e6186;
  --mainBackground: #fff8f0;
  --txtBackground: #fff;
  --txtLeftBorder: #ffb347;

  --AllFairyTalesBackground: linear-gradient(135deg, #4e54c8, #8f94fb);
  --AllFairyTalesTxt: #fff;
  --pageUnitHover: #fff4e0;

  --gameMenuBtn: #e0e0e0;
  --gameMenuBtnHover: #ccc;
  --gameMenuBtnSelected: #4caf50;
  --gameMenuBtnSelectedTxt: white;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--headerBackground);
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px 24px;
  border-bottom: 2px solid var(--txtLeftBorder);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.nav-btn {
  font-size: 1rem;
  background: var(--txtLeftBorder);
  color: var(--navBtnTxt);
  border: none;
  border-radius: 8px;
  padding: 5px 8px;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  transition:
    background 0.3s,
    transform 0.2s;
}

.nav-btn:hover {
  background: var(--h1AndHover);
  transform: scale(1.05);
}

/* Логин */

.login-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

#user-avatar {
  border: 1px solid var(--txtLeftBorder);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 4px;
  padding: 6px 8px;
  position: absolute;
  z-index: 2;
  top: 125%;
  left: -200%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.3s;
}

.hidden {
  display: none;
}

.tooltip-logout-btn {
  margin-top: 6px;
  padding: 4px 8px;
  font-size: 12px;
  background-color: var(--txtLeftBorder);
  color: var(--navBtnTxt);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tooltip-logout-btn:hover {
  background-color: var(--h1AndHover);
}

main {
  min-height: 90vh;
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background: var(--mainBackground);
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

#h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--h1AndHover);
  margin-bottom: 20px;
}

.txt {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
  padding: 10px 15px;
  background: var(--txtBackground);
  border-left: 5px solid var(--txtLeftBorder);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
}

.page-tooltipTriger {
  font-size: 0.7rem;
  border: 2px solid;
  border-radius: 50%;
  padding: 0 4px;
  cursor: help;
  user-select: none;
}

.video-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.video-illustration {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  transition: filter 0.3s;
}

.video-wrapper.paused .video-illustration {
  filter: brightness(0.5);
}

.video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.video-wrapper.paused .video-play-button {
  display: block;
  opacity: 1;
}

.video-play-button::before {
  content: '';
  display: block;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 30px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  filter: drop-shadow(2px 2px 6px rgba(7, 250, 47, 0.8));
}

.page-title {
  text-align: center;
  font-size: 2rem;
  color: var(--AllFairyTalesTxt);
  padding: 20px;
  background: var(--AllFairyTalesBackground);
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.page-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.page-unit {
  width: 100%;
  max-width: 500px;
  background: var(--txtBackground);
  border: 3px solid var(--txtLeftBorder);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #444;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.page-unit:hover {
  transform: translateY(-5px);
  box-shadow: 4px 8px 18px rgba(0, 0, 0, 0.15);
  background-color: var(--pageUnitHover);
}

/* Img */

.fairy-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  max-height: 50vh;
}

.player-setup-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.player-config {
  border: 2px solid var(--txtLeftBorder);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  min-width: 200px;
  background-color: var(--txtBackground);
  text-align: center;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.player-config p {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.character-select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--txtLeftBorder);
  background-color: var(--mainBackground);
}

.status-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.player-icon {
  border: none;
  border-radius: 6px;
  background-color: var(--txtLeftBorder);
  cursor: pointer;
  transition: transform 0.2s ease;
  padding: 6px;
}

.status-label {
  font-size: 0.8rem;
}

@media (hover: hover) {
  .player-icon:hover {
    transform: scale(1.1);
  }
}

.difficulty-bot-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.start-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--navBtnTxt);
  background-color: var(--txtLeftBorder);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.start-button:hover {
  background-color: var(--h1AndHover);
}

.game-modal {
  position: fixed;
  inset: 0;
  background-color: var(--mainBackground);
  z-index: 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.game-modal-header {
  background-color: var(--txtLeftBorder);
  padding: 6px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.score-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.score-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 2px;
  border-radius: 3px;
  gap: 2px;
}

.score-img {
  width: 1.4rem;
  height: 1.4rem;
  background-color: var(--txtLeftBorder);
}

.game-modal-close {
  border: none;
  border-radius: 8px;
  padding: 5px 8px;
  background-color: var(--h1AndHover);
  color: var(--navBtnTxt);
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.game-modal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.xo-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.xo-turn-indicator {
  background: var(--AllFairyTalesBackground);
  color: var(--navBtnTxt);
  padding: 10px 16px;
  border-radius: 6px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.xo-grid {
  display: grid;
  width: max-content;
  height: max-content;
  gap: 0;
}

.xo-cell {
  /* width: 80px; */
  /* height: 80px; */
  background-color: var(--txtBackground);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;

  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.xo-cell.top-row {
  border-top: none;
}

.xo-cell.left-col {
  border-left: none;
}

.xo-restart-btn {
  visibility: hidden;
  /* opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; */
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: var(--txtLeftBorder);
  color: var(--navBtnTxt);
  transition:
    background 0.3s,
    transform 0.2s;
}

.xo-restart-btn.visible {
  visibility: visible;
  /* opacity: 1;
  pointer-events: auto; */
}

.xo-restart-btn:hover {
  background-color: var(--h1AndHover);
}

.xo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none; /* чтобы клик шел по клетке, а не по img */
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}

.xo-win-cell {
  background-color: #aaffaa;
}

.xo-win-img {
  animation:
    rotate360 0.5s ease-in-out forwards,
    pulse 0.6s ease-in-out infinite;
  animation-delay: 0s, 0.5s; /* первая анимация сразу, вторая — с задержкой */
}

html {
  background: linear-gradient(to bottom, #cceaff, #ffffff);
  font-family: 'Comic Sans MS', 'Arial Rounded MT Bold', sans-serif;
  color: #333;
}

.header-dvoinik-wrapper {
  position: relative;
}

.header-toggle-button--dvoinik {
  background-color: var(--gameMenuBtnSelected);
  font-weight: bold;
  color: var(--navBtnTxt);
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.header-stats-popup--dvoinik {
  position: absolute;
  top: 40px;
  right: -150px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 11;
  width: 250px;
}

.header-player-stat--dvoinik {
  margin-bottom: 10px;
  border-bottom: 1px solid var(--txtLeftBorder);
  font-size: 13px;
}
.icon-check--dvoinik {
  display: inline-block;
  width: 3px;
  height: 12px;
  margin-right: 8px;
  border: solid green;
  border-width: 0 2px 2px 0;
  transform: rotate(35deg);
  padding: 2px;
  margin-left: 10px;
}

.icon-cross--dvoinik {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.icon-cross--dvoinik::before,
.icon-cross--dvoinik::after {
  content: '';
  position: absolute;
  left: 7px;
  top: 0;
  height: 16px;
  width: 2px;
  background-color: red;
}

.icon-cross--dvoinik::before {
  transform: rotate(45deg);
}

.icon-cross--dvoinik::after {
  transform: rotate(-45deg);
}

.modal-dvoiniki {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card-grid--dvoiniki {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
  justify-content: center;
}

.card--dvoiniki {
  width: 60px;
  height: 60px;
  background-color: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  perspective: 1000px;
}

.card-inner--dvoiniki {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card--dvoiniki.flipped--dvoiniki .card-inner--dvoiniki {
  transform: rotateY(180deg);
}

.card-image--dvoiniki {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.card-front--dvoiniki,
.card-back--dvoiniki {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-front--dvoiniki {
  background-color: white;
  transform: rotateY(180deg);
}

/* Анимация при совпадении */
.card--dvoiniki.matched-animating--dvoiniki {
  animation: match-pulse 0.6s ease;
}

@keyframes match-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.5;
  }
}

.card--dvoiniki.matched--dvoiniki {
  opacity: 0.2;
  pointer-events: none;
}

/* Выбор сложности */
.dvoiniki-details {
  justify-self: center;
  margin: 20px 0;
  cursor: pointer;
  background-color: var(--h1AndHoverOPACITY);
  padding: 5px;
  border-radius: 6px;
}

.dvoiniki-summary {
  background-color: var(--h1AndHover);
  color: var(--navBtnTxt);
  padding: 5px 10px;
  border-radius: 6px;
}

.difficulty-selection-dvoiniki {
  margin: 5px 0;
  text-align: center;
  padding: 10px 10px;
  border-radius: 1rem;
  background-color: var(--txtBackground);
}

.difficulty-buttons-dvoiniki {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.difficulty-button-dvoiniki {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 8px;
  background-color: var(--gameMenuBtn);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.difficulty-button-dvoiniki:hover {
  background-color: var(--gameMenuBtnHover);
}

.difficulty-button-dvoiniki.selected {
  background-color: var(--gameMenuBtnSelected);
  color: var(--gameMenuBtnSelectedTxt);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.game-overlay--dvoiniki {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  z-index: 10;
  border-radius: 10px;
}

.winners-announcement--dvoiniki {
  background: var(--AllFairyTalesBackground);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 12px;
  border-radius: 5px;
  border: 2px solid var(--txtLeftBorder);
  text-align: center;
}

.winners-announcement--dvoiniki span:first-child {
  color: var(--gameMenuBtnSelected);
}

.winners-announcement--dvoiniki span:nth-child(2) {
  color: var(--AllFairyTalesTxt);
  font-size: 1.5rem;
  font-weight: bold;
}

.restart-button-dvoiniki {
  padding: 12px 24px;
  font-size: 18px;
  background-color: var(--txtLeftBorder);
  color: var(--navBtnTxt);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.restart-button-dvoiniki:hover {
  transform: scale(1.05);
  background-color: var(--h1AndHover);
}
.card-grid-wrapper--dvoiniki {
  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.turn-overlay--dvoiniki {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 10px;
}

.t-o-content--dvoiniki {
  text-align: center;
  display: flex;
  gap: 14px;
  flex-direction: column;
  align-items: center;
}

.t-o-content--dvoiniki p {
  font-size: 20px;
  background-color: var(--mainBackground);
  color: var(--h1AndHover);
  font-weight: bold;
  padding: 14px 14px;
  border-radius: 12px;
  margin: 0;
}

.t-o-content--dvoiniki__wrap {
  padding: 10px 20px;
  background-color: var(--mainBackground);
  border-radius: 10px 30px;
}

.t-o-content--dvoiniki__wrap div {
  font-size: 16px;
}

.t-o-content--dvoiniki button {
  padding: 8px 16px;
  cursor: pointer;
  background-color: var(--txtLeftBorder);
  color: var(--navBtnTxt);
  border: 1px solid var(--navBtnTxt);
  border-radius: 10px;
}

/* Для переключателя автозакрытия */
.tsLabel--dvoiniki-wrap {
  display: flex;
  align-items: center;
  background-color: var(--mainBackground);
  padding: 4px 8px;
  border-radius: 10px;
}

.close-label--dvoiniki {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 18px;
  margin-left: 8px;
}

.close-label--dvoiniki input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider__close-label--dvoiniki {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gameMenuBtnHover);
  transition: 0.4s;
  border-radius: 19px;
}

.slider__close-label--dvoiniki::before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: var(--gameMenuBtnSelectedTxt);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider__close-label--dvoiniki {
  background-color: var(--gameMenuBtnSelected);
}

input:checked + .slider__close-label--dvoiniki::before {
  transform: translateX(16px);
}

.players-status-dvoiniki {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-bottom: 12px;
  flex-wrap: wrap;
}

.player-name-dvoiniki {
  position: relative;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s ease;
  overflow: hidden;
  font-size: 12px;
  cursor: default;
}

.player-name-dvoiniki.pn-dvoiniki--inactive {
  background-color: gray;
}

.player-name-dvoiniki.pn-dvoiniki--active {
  background-color: green;
}

.player-name-dvoiniki.pn-dvoiniki--active::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.8);
  animation: moveStar 3s linear infinite;
}
.player-name-dvoiniki.pn-dvoiniki--active::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.8);
  animation: moveStar 2s linear infinite;
}

@keyframes moveStar {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 100%;
    transform: translate(-100%, 0);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  75% {
    top: 100%;
    left: 0;
    transform: translate(0, -100%);
  }
  100% {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

.plaName-field--dvoiniki label {
  font-size: 0.7rem;
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.plaName-tooltip--dvoiniki {
  display: inline;
  background-color: var(--h1AndHover);
}

.page-title--dvoiniki {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dvoiniki-title-tooltip .tooltip-box {
  min-width: 250px;
  margin-left: -80px;
}

.roll-button_kybik {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--gameMenuBtnSelected);
  color: var(--gameMenuBtnSelectedTxt);
  position: relative;
  cursor: pointer;
}

.btn-content_kybik {
  position: relative;
  z-index: 1;
}

.ovrly_kybik {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.ovrly2_kybik {
  display: block;
  height: 100%;
  width: 0%;
  background-color: var(--gameMenuBtnSelected);
  animation: none;
  position: relative;
  border-radius: 10px;
}

.roll-button_kybik.animate_kybik {
  background-color: var(--h1AndHover);
}

.roll-button_kybik.animate_kybik .ovrly2_kybik {
  animation: loadingBar 1s linear forwards;
}

@keyframes loadingBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.game_KybikChaotic {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.kybik-containerChaotic {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.dice_kybik-containerChaotic {
  position: absolute;
  transition:
    top 0.7s,
    left 0.7s;
}

.game_Kybik {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.kybik-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.dice_kybik {
  position: relative;
  width: 60px;
  height: 60px;
  transform-style: preserve-3d;
  transition: transform 0.7s;
  transform: rotateX(10deg) rotateY(-10deg);
}

.side_kybik {
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(135deg, #f4f6ee, #ffffff);
  border: 1px solid var(--txtLeftBorder);
  border-radius: 5px;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
}

/* .side_kybik::before {  **Анимация сторон кубика(нагружает устройство)**
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 120px;
  background: rgba(255, 255, 255);
  transform: rotate(-20deg);
  animation: shine 3s infinite;
  animation-timing-function: cubic-bezier(0.17, 0.79, 0.96, 0.25);
}

@keyframes shine {
  0% {
    top: -100px;
    left: -280px;
  }
  100% {
    top: 100%;
    left: 100%;
  }
} */

/* Грани кубика */
.side_kybik:nth-child(1) {
  transform: translateZ(30px);
}
.side_kybik:nth-child(2) {
  transform: rotateY(-180deg) translateZ(30px);
}
.side_kybik:nth-child(3) {
  transform: rotateY(-90deg) translateZ(30px);
}
.side_kybik:nth-child(4) {
  transform: rotateX(90deg) translateZ(30px);
}
.side_kybik:nth-child(5) {
  transform: rotateX(-90deg) translateZ(30px);
}
.side_kybik:nth-child(6) {
  transform: rotateY(90deg) translateZ(30px);
}

/* Анимация */
.show-1_kybik {
  transform: rotateX(730deg) rotateY(-10deg) rotateZ(-720deg);
}
.show-2_kybik {
  transform: rotateX(-890deg) rotateY(10deg) rotateZ(1260deg);
}
.show-3_kybik {
  transform: rotateY(790deg) rotateY(10deg) rotateZ(730deg);
}
.show-4_kybik {
  transform: rotateX(-800deg) rotateY(0) rotateZ(-1090deg);
}
.show-5_kybik {
  transform: rotateX(460deg) rotateY(0) rotateZ(-710deg);
}
.show-6_kybik {
  transform: rotateY(-470deg) rotateY(10deg) rotateZ(-1450deg);
}

/* Точки кубика */
.dot_kybik {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  box-shadow: inset 3px 3px #e00428;
}

/* Позици точек */
.one-1_kybik,
.three-2_kybik,
.five-5_kybik {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.two-1_kybik,
.three-1_kybik,
.four-1_kybik,
.five-1_kybik,
.six-1_kybik {
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.two-2_kybik,
.three-3_kybik,
.four-4_kybik,
.five-4_kybik,
.six-6_kybik {
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.four-2_kybik,
.five-2_kybik,
.six-3_kybik {
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.four-3_kybik,
.five-3_kybik,
.six-4_kybik {
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.six-2_kybik {
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.six-5_kybik {
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.field_kybik {
  background-color: grey;
  width: 100%;
}

.togle-switch__MUP {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 18px;
  margin-left: 8px;
}

.togle-switch__MUP input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider__MUP {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gameMenuBtnHover);
  transition: 0.4s;
  border-radius: 19px;
}

.slider__MUP::before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: var(--gameMenuBtnSelectedTxt);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider__MUP {
  background-color: var(--gameMenuBtnSelected);
}

input:checked + .slider__MUP::before {
  transform: translateX(16px);
}

.kybik-menuUnit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

