:root {
  --headerBackground: #fff0e5d5;
  --navBtnTxt: white;

  --h1AndHover: #ff6f61;
  --mainBackground: #fff8f0;
  --txtBackground: #fff;
  --txtLeftBorder: #ffb347;

  --AllFairyTalesBackground: linear-gradient(135deg, #4e54c8, #8f94fb);
  --AllFairyTalesTxt: #fff;
  --pageUnitHover: #fff4e0;

  --gameMenuBtn: #e0e0e0;
  --gameMenuBtnHover: #ccc;
  --gameMenuBtnSelected: #4caf50;
  --gameMenuBtnSelectedTxt: white;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--headerBackground);
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px 24px;
  border-bottom: 2px solid var(--txtLeftBorder);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.nav-btn {
  font-size: 1rem;
  background: var(--txtLeftBorder);
  color: var(--navBtnTxt);
  border: none;
  border-radius: 8px;
  padding: 5px 8px;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  transition:
    background 0.3s,
    transform 0.2s;
}

.nav-btn:hover {
  background: var(--h1AndHover);
  transform: scale(1.05);
}

/* Логин */

.login-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

#user-avatar {
  border: 1px solid var(--txtLeftBorder);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 4px;
  padding: 6px 8px;
  position: absolute;
  z-index: 2;
  top: 125%;
  left: -200%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.3s;
}

.hidden {
  display: none;
}

.tooltip-logout-btn {
  margin-top: 6px;
  padding: 4px 8px;
  font-size: 12px;
  background-color: var(--txtLeftBorder);
  color: var(--navBtnTxt);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tooltip-logout-btn:hover {
  background-color: var(--h1AndHover);
}

main {
  min-height: 90vh;
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background: var(--mainBackground);
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

#h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--h1AndHover);
  margin-bottom: 20px;
}

.txt {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
  padding: 10px 15px;
  background: var(--txtBackground);
  border-left: 5px solid var(--txtLeftBorder);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
}

.page-tooltipTriger {
  font-size: 0.7rem;
  border: 2px solid;
  border-radius: 50%;
  padding: 0 4px;
  cursor: 'help';
  user-select: none;
}

.video-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.video-illustration {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  transition: filter 0.3s;
}

.video-wrapper.paused .video-illustration {
  filter: brightness(0.5);
}

.video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.video-wrapper.paused .video-play-button {
  display: block;
  opacity: 1;
}

.video-play-button::before {
  content: '';
  display: block;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 30px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  filter: drop-shadow(2px 2px 6px rgba(7, 250, 47, 0.8));
}

.page-title {
  text-align: center;
  font-size: 2rem;
  color: var(--AllFairyTalesTxt);
  padding: 20px;
  background: var(--AllFairyTalesBackground);
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.page-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.page-unit {
  width: 100%;
  max-width: 500px;
  background: var(--txtBackground);
  border: 3px solid var(--txtLeftBorder);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #444;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.page-unit:hover {
  transform: translateY(-5px);
  box-shadow: 4px 8px 18px rgba(0, 0, 0, 0.15);
  background-color: var(--pageUnitHover);
}

/* Img */

.fairy-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  max-height: 50vh;
}

.player-setup-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.player-config {
  border: 2px solid var(--txtLeftBorder);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  min-width: 200px;
  background-color: var(--txtBackground);
  text-align: center;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.player-config p {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.character-select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--txtLeftBorder);
  background-color: var(--mainBackground);
}

.status-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.player-icon {
  border: none;
  border-radius: 6px;
  background-color: var(--txtLeftBorder);
  cursor: pointer;
  transition: transform 0.2s ease;
  padding: 6px;
}

.status-label {
  font-size: 0.8rem;
}

@media (hover: hover) {
  .player-icon:hover {
    transform: scale(1.1);
  }
}

.difficulty-bot-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.start-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--navBtnTxt);
  background-color: var(--txtLeftBorder);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.start-button:hover {
  background-color: var(--h1AndHover);
}

.game-modal {
  position: fixed;
  inset: 0;
  background-color: var(--mainBackground);
  z-index: 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.game-modal-header {
  background-color: var(--txtLeftBorder);
  padding: 6px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.score-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.score-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 2px;
  border-radius: 3px;
  gap: 2px;
}

.score-img {
  width: 1.4rem;
  height: 1.4rem;
  background-color: var(--txtLeftBorder);
}

.game-modal-close {
  border: none;
  border-radius: 8px;
  padding: 5px 8px;
  background-color: var(--h1AndHover);
  color: var(--navBtnTxt);
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.game-modal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.xo-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.xo-turn-indicator {
  background: var(--AllFairyTalesBackground);
  color: var(--navBtnTxt);
  padding: 10px 16px;
  border-radius: 6px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.xo-grid {
  display: grid;
  width: max-content;
  height: max-content;
  gap: 0;
}

.xo-cell {
  /* width: 80px; */
  /* height: 80px; */
  background-color: var(--txtBackground);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;

  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.xo-cell.top-row {
  border-top: none;
}

.xo-cell.left-col {
  border-left: none;
}

.xo-restart-btn {
  visibility: hidden;
  /* opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; */
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: var(--txtLeftBorder);
  color: var(--navBtnTxt);
  transition:
    background 0.3s,
    transform 0.2s;
}

.xo-restart-btn.visible {
  visibility: visible;
  /* opacity: 1;
  pointer-events: auto; */
}

.xo-restart-btn:hover {
  background-color: var(--h1AndHover);
}

.xo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none; /* чтобы клик шел по клетке, а не по img */
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}

.xo-win-cell {
  background-color: #aaffaa;
}

.xo-win-img {
  animation:
    rotate360 0.5s ease-in-out forwards,
    pulse 0.6s ease-in-out infinite;
  animation-delay: 0s, 0.5s; /* первая анимация сразу, вторая — с задержкой */
}

html {
  background: linear-gradient(to bottom, #cceaff, #ffffff);
  font-family: 'Comic Sans MS', 'Arial Rounded MT Bold', sans-serif;
  color: #333;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
  justify-content: center;
}

.card {
  width: 60px;
  height: 60px;
  background-color: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  perspective: 1000px;
}

.card.flipped {
  background-color: white;
}

.card-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.card-back {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

/* Анимация при совпадении */
.card.matched-animating {
  animation: match-pulse 0.6s ease;
}

@keyframes match-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.5;
  }
}

.card.matched {
  opacity: 0.2;
  pointer-events: none;
}

/* Выбор сложности */
.difficulty-selection-dvoiniki {
  margin: 20px 0;
  text-align: center;
  padding: 20px 10px;
  border: 2px solid var(--txtLeftBorder);
  border-radius: 1rem;
  background-color: var(--txtBackground);
}

.difficulty-buttons-dvoiniki {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.difficulty-button-dvoiniki {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 8px;
  background-color: var(--gameMenuBtn);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.difficulty-button-dvoiniki:hover {
  background-color: var(--gameMenuBtnHover);
}

.difficulty-button-dvoiniki.selected {
  background-color: var(--gameMenuBtnSelected);
  color: var(--gameMenuBtnSelectedTxt);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

