.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--headerBackground);
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px 24px;
  border-bottom: 2px solid var(--txtLeftBorder);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.nav-btn {
  font-size: 1rem;
  background: var(--txtLeftBorder);
  color: var(--navBtnTxt);
  border: none;
  border-radius: 8px;
  padding: 5px 8px;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  transition:
    background 0.3s,
    transform 0.2s;
}

.nav-btn:hover {
  background: var(--h1AndHover);
  transform: scale(1.05);
}

/* Логин */

.login-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

#user-avatar {
  border: 1px solid var(--txtLeftBorder);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 4px;
  padding: 6px 8px;
  position: absolute;
  z-index: 2;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.3s;
}

.hidden {
  display: none;
}

.tooltip-logout-btn {
  margin-top: 6px;
  padding: 4px 8px;
  font-size: 12px;
  background-color: var(--txtLeftBorder);
  color: var(--navBtnTxt);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tooltip-logout-btn:hover {
  background-color: var(--h1AndHover);
}
