.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--headerBackground);
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px 24px;
  border-bottom: 2px solid var(--txtLeftBorder);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

.nav-btn {
  font-size: 1rem;
  background: var(--txtLeftBorder);
  color: var(--navBtnTxt);
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  transition:
    background 0.3s,
    transform 0.2s;
}

.nav-btn:hover {
  background: var(--h1AndHover);
  transform: scale(1.05);
}
