:root {
  --bgHtml: linear-gradient(to bottom, #cceaff, #ffffff);
  --headerBackground: #fff0e5d5;
  --navBtnTxt: white;

  --h1AndHover: #ff6f61;
  --h1AndHoverOPACITY: #ff6e6186;
  --mainBackground: #fff8f0;
  --txtBackground: #fff;
  --txtLeftBorder: #ffb347;

  --AllFairyTalesBackground: linear-gradient(135deg, #4e54c8, #8f94fb);
  --AllFairyTalesTxt: #fff;
  --pageUnitHover: #fff4e0;

  --gameMenuBtn: #e0e0e0;
  --gameMenuBtnHover: #ccc;
  --gameMenuBtnSelected: #4caf50;
  --gameMenuBtnSelectedTxt: white;
}

/* Анимация */
:root {
  --anim-scaleIn-duration: 0.2s;
  --anim-scaleIn-ease: ease;
}

/* Размер иконок(изначально для меню) */
:root {
  --icon-size: 1.1rem; /* или 18px */
}
