.togle-switch__MUP {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 18px;
  margin-left: 8px;
}

.togle-switch__MUP input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider__MUP {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gameMenuBtnHover);
  transition: 0.4s;
  border-radius: 19px;
}

.slider__MUP::before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: var(--gameMenuBtnSelectedTxt);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider__MUP {
  background-color: var(--gameMenuBtnSelected);
}

input:checked + .slider__MUP::before {
  transform: translateX(16px);
}
