.main-header__bookmark-btns-cont {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
}

.main-header__btn-bookmark {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main-header__bookmark-div-for-img {
  display: flex;
  padding: var(--btn-icon-padding);
  background: var(--mainBackground);
  border-radius: var(--btn-icon-radius);
}

.main-header__bookmark-img {
  width: 1rem;
  height: 1rem;
}

.main-header__btn--add {
  background-color: var(--gameMenuBtnSelected);
}

.main-header__btn.main-header__btn--add:hover {
  background-color: var(--gameMenuBtnSelected);
}

.main-header__btn--remove {
  background-color: #ff6f61;
}

.main-header__btn.main-header__btn--remove:hover {
  background-color: #ff6f61;
}
