.pagination-controls__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-controls {
  pointer-events: auto;
}
.pagination-controls button {
  background-color: var(--txtLeftBorder);
  cursor: pointer;
  border: none;
  margin-left: 2px;
  border-radius: 3px;
  color: var(--navBtnTxt);
}
