.pagination-controls__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-controls {
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}

.pagination-controls__btn {
  background-color: var(--txtLeftBorder);
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: var(--navBtnTxt);
}

.pagination-controls__arrow-btn-left,
.pagination-controls__arrow-btn-right {
  border-radius: 40%;
  border-bottom: 2px var(--h1AndHover) solid;
  text-align: center;
}

.pagination-controls__arrow-btn-left {
  margin-right: 5px;
  border-right: 1px var(--h1AndHover) solid;
}

.pagination-controls__arrow-btn-right {
  margin-left: 5px;
  border-left: 1px var(--h1AndHover) solid;
}

.pagination-controls__btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.pagination-ellipsis {
  user-select: none;
}
