@import url('css/variables.css');
@import url('css/header.css');
@import url('css/mainContainer.css');
@import url('css/forVideo.css');
@import url('css/skazkiImgAndTxt.css');
@import url('css/games/gameXO/gamesXO.css');
@import url('css/games/gameXO/gameModal.css');
@import url('css/games/gameXO/gameField.css');
@import url('css/games/gameXO/gameAvatar.css');

html {
  background: var(--bgHtml);
  font-family: 'Comic Sans MS', 'Arial Rounded MT Bold', sans-serif;
  color: #333;
}

input,
select {
  background-color: #ffffff;
}