@import url('css/variables.css');
@import url('css/header.css');
@import url('css/mainContainer.css');
@import url('css/forVideo.css');
@import url('css/skazkiImgAndTxt.css');
@import url('css/games/gameXO/gamesXO.css');
@import url('css/games/gameXO/gameModal.css');
@import url('css/games/gameXO/gameField.css');

html {
  background: linear-gradient(to bottom, #cceaff, #ffffff);
  font-family: 'Comic Sans MS', 'Arial Rounded MT Bold', sans-serif;
  color: #333;
}
