.main-header__menu {
  position: relative;
}

.main-header__menu-btn {
  font-weight: bold;
}

.main-header__menu-list {
  position: absolute;
  top: 100%;
  left: -20%;
  background: var(--mainBackground);
  border-radius: 4px;
  padding: 0;
  list-style: none;
  margin: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  min-width: max-content;
  animation: scaleIn 0.2s ease;
}

.main-header__menu-list li {
  padding: 10px 30px;
}

.main-header__btn {
  max-width: 150px;
}

.main-header__btn:hover {
  background-color: var(--txtLeftBorder);
}
