.main-header__menu {
  position: relative;
}

.main-header__menu-list {
  position: absolute;
  top: 100%;
  left: -20%;
  background: var(--mainBackground);
  border-radius: 4px;
  padding: 0;
  list-style: none;
  margin: 5px 0 0 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  min-width: max-content;
  animation: scaleIn var(--anim-scaleIn-duration) var(--anim-scaleIn-ease);
}

.main-header__menu-list li {
  padding: 10px 30px;
}

.main-header__btn {
  max-width: 150px;
  width: 100%;
  text-align: left;
}

.main-header__btn:hover {
  background-color: var(--txtLeftBorder);
}

/* Стили бургер кнопки */
.main-header__burger-btn {
  position: relative;
  width: 34px;
  height: 34px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 3px;
  background-color: var(--txtLeftBorder);
  border-radius: 8px;
}

.main-header__burger-btn .main-header__bar {
  position: absolute;
  left: 5px;
  right: 5px;
  height: 3px;
  background-color: var(--navBtnTxt);
  border-radius: 3px;
  transition: all 0.4s var(--anim-scaleIn-ease);
}

/* Расположение полосок бургера на старте */
.main-header__burger-btn .main-header__bar:nth-child(1) {
  top: 8px;
}
.main-header__burger-btn .main-header__bar:nth-child(2) {
  top: 15px;
}
.main-header__burger-btn .main-header__bar:nth-child(3) {
  top: 22px;
}

/* Когда открыто */
.main-header__burger-btn.main-header__open .main-header__bar:nth-child(1) {
  top: 15px; /* все в центр */
  transform: rotate(45deg);
}

.main-header__burger-btn.main-header__open .main-header__bar:nth-child(2) {
  opacity: 0;
}

.main-header__burger-btn.main-header__open .main-header__bar:nth-child(3) {
  top: 15px; /* все в центр */
  transform: rotate(-45deg);
}
